@import "tailwindcss";
@import "leaflet/dist/leaflet.css";


:root {

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.leaflet-tooltip.ride-label {
  background: white;
  color: black;
  font-weight: 700;
  font-size: 12px;
  border-radius: 4px;
  padding: 4px 8px;
  border: none;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  white-space: nowrap;       /* single line */
  max-width: 140px;          /* fixed size */
  overflow: hidden;
  text-overflow: ellipsis;   /* cut off long text with ... */
}

